<div id="postOpt" class="table-responsive">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">
        <span class="glyphicon glyphicon-plus"></span>添加
    </button>
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>修改
    </button>
    <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-minus"></span>删除
    </button>
</div>
<div id="postList">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>标题</th>
                <th>标签</th>
                <th>发布时间</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-editor">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编写文章</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="postTitle">标题</label>
                                <input type="text" class="form-control" id="postTitle">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="postTag">标签</label>
                                <input type="text" class="form-control" id="postTag">
                            </div>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="editor"><textarea class="pre-scrollable" id="postEditor"></textarea></div>
                       </div>
                   </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $.get('/i/posts/list', function(posts){
            var rows = [];
            if(posts && posts.length > 0){
                for(var i = 0; i < posts.length; i++){
                    rows.push('<tr><td>'+posts[i].title+'</td><td>'+posts[i].tag+'</td><td>'+posts[i].publishAt+'</td></tr>')
                }
                $('#postList').find('tbody').append(rows);
            }
        });

        var postEditor = new Editor();
        postEditor.render('#postEditor');

        $postModal = $('#postModal');
        $postModal.on('shown.bs.modal', function (e) {
            $(this).find('.editor__menu--edit').click();
            $(this).find('.editor__menu--live').click();
        })
    });
</script>