<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>iNote</title>
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/static/freelancer/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/freelancer/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/freelancer/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <link rel="stylesheet" href="/static/css/hover-min.css" media="all"/>
    <link rel="stylesheet" href="/static/plugins/highlight/css/solarized_dark.min.css"/>
    <link rel="stylesheet" href="/static/plugins/venobox/venobox.css" media="screen"/>
    <link rel="stylesheet" href="/static/css/inote.css"/>
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hvr-bounce-in" href="#page-top"><span id="siteTitle"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#postLoding">最新发布</a>
                </li>
                <li class="page-scroll">
                    <a href="#postListAnchor">近期发布</a>
                </li>
                <li class="page-scroll">
                    <a href="#contactMeAnchor">联系我</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle profile-img hvr-float-shadow" id="avatar" src="" alt="">

                <div class="intro-text">
                    <span class="name hvr-grow" id="author"></span>
                    <hr>
                    <span class="skills hvr-sink" id="aboutMe"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Articles Grid Section -->
<section id="postLoding">
    <div class="container inote-post-container">
        <div class="row" id="post">
            <input type="hidden" name="postId" id="postId"/>
            <h2 class="col-md-12 text-center text-success hvr-bounce-in" id="postTitle"></h2>
            <span class="fix-height"></span>
            <div class="col-md-12 text-primary" id="postLine"><em><a class="list-group-item active hvr-skew-forward" href="javascript:void(0);"><span class="hvr-skew-forward"><i
                    class="fa fa-tag"></i>&nbsp;<span
                    id="postTag"></span></span></a><span class="pull-right hvr-bob"><i class="fa fa-calendar"></i>&nbsp;<span
                    id="postPublishAt"></span></span></em>
            </div>
            <span class="fix-height"></span>
            <hr/>
            <div class="col-md-10 col-md-offset-1" id="postContent"></div>
        </div>
        <span class="fix-height" id="postMessageAnchor"></span>
        <span class="fix-height"></span>
        <hr/>
        <div class="row">
            <div class="col-md-2"> <a class="list-group-item active hvr-skew-backward" href="javascript:void(0);"><span class="hvr-grow-rotate"><i
                    class="fa fa-comments"></i>留言<span class="badge" id="postMessageCount">0</span>
               </span></a></div>
            <div class="col-md-8">
                <div class="col-md-12" id="postMessages">
                </div>
                <form name="messageForm" id="messageForm" novalidate="">
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>名字</label>
                            <input type="text" class="form-control" placeholder="名字" name="guestName" id="guestName" required="" data-validation-required-message="请输入名字" aria-invalid="false">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>内容</label>
                            <textarea class="form-control" placeholder="内容" name="messageContent" id="messageContent" required="" data-validation-required-message="请输入内容" aria-invalid="false" rows="6"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div id="success" class="col-md-12 col-xs-12">

                    </div>
                    <div class="form-group col-xs-12 floating-label-form-grop">
                        <button type="submit" class="btn btn-success hvr-grow-shadow">提交</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr/>
</section>

<section id="postListAnchor">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a class="list-group-item active hvr-float" href="javascript:void(0);"><i class="fa fa-book fa-fw"></i>&nbsp; 近期发布</a>
            </div>
            <div class="col-md-8">
                <div id="postList" class="list-group">

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-success hvr-grow-shadow" id="loadNextPageBtn"><input type="hidden" name="" id="pageIndex" value="1"/><span id="loadPageTip">加载更多</span></button>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="contactMeAnchor" class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3></h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/igordonshaw" target="_blank" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://cn.linkedin.com/in/igordonshaw" target="_blank"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/igordonshaw" target="_blank" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-github"></i></a>
                        </li>
                        <li>
                            <a href="http://weibo.com/1765979380" target="_blank" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-weibo"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank" data-toggle="tooltip" class="btn-social btn-outline"
                               title="igordonshaw"><i class="fa fa-fw fa-wechat"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Copyright &copy; <a href="https://github.com/igordonshaw/inote"><span id="footerCopty"></span></a>
                    2015
                </div>
                <span class="fix-height"></span>

                <div class="col-md-12">
                    <span><small>Powered by <a href="http://beego.me" target="_blank">Beego</a> & <a
                            href="http://getbootstrap.com" target="_blank">Bootstrap</a></small></span>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="/static/plugins/jQuery/jQuery-2.1.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/freelancer/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/freelancer/js/jquery.easing.min.js"></script>
<script src="/static/freelancer/js/classie.js"></script>
<script src="/static/freelancer/js/cbpAnimatedHeader.js"></script>

<!-- Message Form JavaScript -->
<script src="/static/freelancer/js/jqBootstrapValidation.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/freelancer/js/freelancer.js"></script>
<script src="/static/plugins/painlayer/js/jquery.plainoverlay.min.js"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/plugins/highlight/js/highlight.min.js"></script>
<script src="/static/js/json2-min.js"></script>
<script src="/static/plugins/venobox/venobox.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
